<div class="container">
    <div class="row">
        <div class="col s10 m6 push-s1 push-m3">
            
            <h4>Atualizar Foto do Usuário</h4>
            <hr>
            <br>
            
            <form action="/user/edit/photo" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ident" value="{{user.ident}}">

                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span><i class="fas fa-camera"></i></span>
                        <input name="foto" type="file" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input value="{{user.foto}}" name="fotoText" class="file-path validate" type="text">
                        <span class="helper-text" data-error="Obrigatório | Foto para o Slide">opcional</span>
                    </div>
                </div>   

                <div class="col s12 top-20">
                    <button class="btn waves-effect w-100">Atualizar-me</button>
                </div>
            </form>

            <form  action="/user/edit/photo" method="post">
                <input type="hidden" name="ident" value="{{user.ident}}">
            
                <div class="col s12 top-20">
                    <button class="btn top-50 waves-effect w-100 red">Remover</button>
                </div>
            </form>
            
        </div>
    </div>


    <div class="row">
        <div class="col s10 m6 push-s1 push-m3">
            {{#each erros}}
            <div class="error_msg card red lighten-2 white-text center">
                <p class="flash-msg">
                    {{texto}}
                </p>
            </div>
            {{else}}

            {{/each}}
        </div>
    </div>
</div>